body {
    background-color:aquamarine;
    font-family: 'Cambria', 'Cochin', 'Georgia', 'Times', 'Times New Roman', serif;
    margin: 0;
}

p, h1, h2, h3, ul {
    color: navy;
    /* text-align: center; */
}

h1, h2, h3 {
    text-align: center;
}

.divPrin {
    height: 80%;
    text-align: center;
}

p, li{
    text-align: justify;
}

.titreBoutique {
    color: blue;
    margin-bottom: 20px;
    display: inline;
    text-decoration: underline solid black 2px;
}

.titreBoutique:hover {
    color:black;
}

.logo {
    border-radius: 15px;
}

h2 {
    color: blue;
    margin-bottom: 10px;
    display: inline;
    text-decoration: underline solid black 2px;
}

.carPrin {
    list-style: none;
    padding: 0;
    text-align: left;
    background-color: greenyellow;
    margin: 10px 0px;
    padding:15px;
    border-radius: 5px;
}

table {
    width: 320px;
    border: 0;
    text-align:center;
    margin:auto;
}

caption {
    font-style: italic;
    text-decoration: underline;
    margin: 10px;
}

.colQuatre {
    padding: 10px;
}

button {
    background-color: navy;
    color: white;
    font-style: bold;
    font-size: 14px;
    border-radius: 12px;
    height: 50px;
    width: 100%;
    border: 0;
    /* transition: 0.7s; */
}

button:hover {
    background-color: lightblue;
    color: black;
    /* transition: 0.7s */
}